h1{
  text-align: center;
}
/* this targets the cells and is styling for that.
included cursor pointer so when the mouse is on the element it looks like you can click it */
td{
  border: 2px solid black;
  height: 100px;
  width: 100px;
  cursor: pointer;
}
/* targets all the elements inside the table.
border-collapse: collapse removes the individual border styled above. and margin left -155 is divided by 2 so it goes to the middle */
table{
  border-collapse: collapse;
  position: absolute;
  left: 50%;
  margin-left: -155px;
  top: 100px;
}
/* targets the table cell elements and tagets the first child and removes the top */
table tr:first-child td{
  border-top: 0px;
}
/* same as the top targets the last child in the grid and removes the border */
table tr:last-child td{
  border-bottom: 0px;
}
/* select every table tr and just the first child td */
table tr td:first-child{
  border-left: 0px;
}
/* selects last child in td and removes the border from right hand side */
table tr td:last-child{
  border-right: 0px;
}
